*{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    box-sizing: border-box;
}

h1{
    font-size: 2em;
}

body{
    border-top: 4px solid #101214;
    margin: 0;
    color: #ffffff;

}

.container{
    width: 100%;
    max-width: 1440px;

    box-shadow: 5px 5px 5px 5px gray;
    margin: 0 auto;
}

header{
    background-color: grey;
    display: flex;
}

footer{
    background-color: grey;
    text-align: center;
}

nav{
    width: 100%;
}

.ul-nav{
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main{
    display: flex;
    justify-content: space-between;
    
}

.photo{
    width: 80%;
    display: block;
    border: 0 solid;
    border-radius: 50%;
    margin: 30px auto;
}

.colum-right{
    width: 65%;
    color:#000000;
padding-right: 10px;
}
.colum-left{
    padding-left: 10px;
    width: 30%;
    background-color: #174180;
    padding: 20px;
}

section{
    margin-top: 60px;
}

.rs-school{
    height: 32px;
}

figure{
    display: inline-block;
    margin: 0;
    background-color: goldenrod;
    border: 5px solid gold;
    text-decoration: none;
    color: #ffffff;
}

ul{
    padding-left: 10px;
}

@media (max-width:1024px) {
    *{
        font-size: 14px;
    }
}
@media (max-width:768px) {
    *{
        font-size: 20px;
    }
    main{
        display:block;
    }
    .colum-left, .colum-right{
        width: 100%;
        padding-left:20px;
        padding-right: 20;
    }
    .codewars{
        width: 300px;
    }
}
@media (max-width:420px) {
    *{
        font-size: 14px;
    }

    .codewars{
        width: 250px;
    }
}